<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@gromcode-lessons.c2nwr4ze1uqa.us-east-2.rds.amazonaws.com:1521:ORCL
        </property>
        <property name="hibernate.connection.username">main</property>
        <property name="hibernate.connection.password">PyP2p02rIZ9uyMBpTBwW</property>
        <!--<mapping class="Product"/>-->
        <!--<mapping class="hibernate.lesson2.Product"/>-->
        <!--<mapping class="Product"/>-->
        <!--<mapping class="Product"/>-->
        <!--<mapping class="Hotel"/>-->
        <!--<mapping class="Room"/>-->
        <mapping class="lesson4.model.Hotel"/>
        <mapping class="lesson4.model.Order"/>
        <mapping class="lesson4.model.Room"/>
        <mapping class="lesson4.model.User"/>
    </session-factory>
</hibernate-configuration>
